*{
    margin: 0px;
    padding: 0px;}

body{
    overflow-x: hidden;
}
.logo{
    width: 8%;
    height: 6%;
    animation: rotating 7s infinite;}

    @keyframes rotating {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

header{
    background: url(images/dark_brick_wall.png);
    font-size: 60px;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    -webkit-text-stroke: 4px orange;}

.navdebut{
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    margin-bottom: 20px;}

.a_haut{
    background: url(images/dark_brick_wall.png);
    margin-top: 20px;
    border: 1px orange solid;
    border-radius: 20%;
    padding: 6px;
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1px orange;
    font-family: 'Black Ops One', cursive;}

    .container{
        background: url(images/dark_mosaic.png);
    }

.page{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.regle{
    border: 10px orange solid;
    border-radius: 40px;
    background: url(images/fondnoir.png);
    color: gainsboro;
    width: 16%;
    height: 35%;
    font-size: 1.2em;
    padding: 20px;
}

.metier{
    border: 10px orange solid;
    border-radius: 40px;
    color: gainsboro;
    background: url(images/fondnoir.png);
    width: 70%;
    font-size: 1.2em;
    padding: 20px;
}
@media screen and (min-width: 320px) and (max-width: 710px){

    header{ font-size: 25px;}

    .navdebut{font-size: 12px;}

.page{display: flex;
    flex-direction: column;}

    .regle{
      margin-bottom: 15px;
    width: 80%;}

    .metier{margin-left: 20px;}
}