*{
    margin: 0px;
    padding: 0px;
}

#backgroundimage{
    background: url(images/fonddepage.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: 'Special Elite', cursive;
    color: black;
    font-size: 7.5em;
    margin-left: 20%;
}

.logo{
    width: 14%;
    margin-top: 7px;
}

.navdebut{
    font-family: 'Special Elite', cursive;
   display: flex;
   justify-content: space-around;
   border-right: none;
   border-left: none;
   margin-top: 10px;
}

.nav_haut{
    padding: 10px;
    color: black;
    font-size: 1.500em;
    text-decoration: none;
    border: 3px black solid;
    border-left: none;
    border-right: none;
    border-radius: 30px;
    background-color: whitesmoke;
}

#page{
    border: 5px black double;
    border-top: none;
    border-bottom: none;
    padding: 20px;
    margin: auto;
    width: 75%;
    margin-top: 35px;
    background-color: whitesmoke;
    color: black;
}

h2{
    font-size: 30px;
    font-family: 'Special Elite', cursive;
}

#separation{
    border: 2px black solid;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#info{
    color: white;
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 35px;
}

h3{
    font-family: 'Special Elite', cursive;
}

.darkrp{
    display: flex;
    border: 3px black solid;
    border-top: none;
    border-bottom: none;
    border-radius: 50px;
    background-color: whitesmoke;
    color: black;
    margin-right: 40px;
    padding: 10px;
}

.logobas_darkrp{
      width: 40%;
}

.poudlardrp{
   display: flex;
   border: 3px black solid;
   border-top: none;
   border-bottom: none;
   border-radius: 50px;;
   background-color: whitesmoke;
   color: black;
   padding: 10px;
   margin-left: 40px;
}

.logobas_poudlard{
    width: 40%;
}

footer{
    color: white;
    background-color: black;
    margin-top: 15px;
    padding: 15px;
}

@media screen and (min-width: 360px) and (max-width: 710px){
    *{
        margin: 0px;
        padding: 0px;
    }
    
    h1{
        font-size: 2.2em;
    }

    .navdebut{
       display: flex;
       justify-content: space-between;
       border-right: none;
       border-left: none;
    }

    .nav_haut{
        font-size: 0.5em;
    }

    #info{
        font-size: 10px;
        width: 100%;
        display: block;
    }

    .logobas_darkrp{
        width: 35%;
  }

  .poudlardrp{
      margin-left: 0px;
      margin-top: 5px;
  }
  
  .logobas_poudlard{
    width: 22%;
}
    
}

@media screen and (min-width: 740px) and (max-width:1075px){
    *{
        margin: 0px;
        padding: 0px;
    }
    
    h1{
        font-size: 4em;
    }

    .navdebut{
       display: flex;
       justify-content: space-between;
       border-right: none;
       border-left: none;
    }

    .nav_haut{
        font-size: 1em;
    }

    #info{
        font-size: 16px;
        width: 100%;
        display: block;
    }

    .logobas_darkrp{
        width: 22%;
  }

  .poudlardrp{
      margin-left: 0px;
      margin-top: 5px;
  }
  
  .logobas_poudlard{
    width: 18%;
}
    
}