*{
    margin: 0px;
    padding: 0px;
}

#backgroundimage{
    background: url(images/fonddepage.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: 'Special Elite', cursive;
    color: black;
    font-size: 7.5em;
    margin-left: 20%;
}

.logo{
    width: 14%;
    margin-top: 7px;
}

.navdebut{
    font-family: 'Special Elite', cursive;
   display: flex;
   justify-content: space-around;
   border-right: none;
   border-left: none;
   margin-top: 10px;
}

.navun{
    padding: 10px;
    color: black;
    font-size: 1.500em;
    text-decoration: none;
    border: 3px black solid;
    border-left: none;
    border-right: none;
    border-radius: 30px;
    background-color: whitesmoke;
}

#page{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#regle{
    border: 10px whitesmoke solid;
    border-radius: 40px;
    background-color: whitesmoke;
    width: 16%;
    height: 35%;
    font-size: 1.2em;
    padding: 10px;
}

#metier{
    border: 10px whitesmoke solid;
    border-radius: 40px;
    background-color: whitesmoke;
    width: 70%;
    font-size: 1.2em;
}